/* @import url() FONT IMPORTS MUST ALWAYS BE AT THE VERY TOP OF THIS FILE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0b0b0f;
  font-family: 'Poppins', sans-serif;
}

.font-display {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #0a4dab;
  color: #ffffff;
}
